* {
  border: solid black 1px
}

.container {
  display: grid;
  border: solid black 1px;
  grid-auto-flow: column;
  grid-template-columns: 5vh 5vh;
  grid-template-rows: 5vw 5vw;
  grid-auto-columns: 5vh;
}
